include *.rst
include *.md
include *.in
include README.rst
include LICENSE
include requirements.txt
include tekel/__init__.py

recursive-include examples *.py
recursive-include examples *.txt

recursive-include tekel *.py
recursive-include tekel *.pyx
recursive-include tekel *.pxd

### Exclude

exclude Makefile
exclude .coveragerc
exclude .nojekyll
exclude *.yml
exclude .mailmap
exclude .circleci
recursive-exclude tekel *.pyc
recursive-exclude .circleci *.yml

exclude tests
exclude .ci_scripts
recursive-exclude doc *
recursive-exclude tests *
recursive-exclude .ci_scripts *.sh
